USE [master]
GO
/****** Object:  Database [Word]    Script Date: 22/07/2024 21:16:14 ******/
CREATE DATABASE [Word]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Word', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Word.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Word_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Word_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Word].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Word]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 22/07/2024 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [nchar](10) NOT NULL,
	[LessonName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelationWLs]    Script Date: 22/07/2024 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationWLs](
	[Lesson] [nchar](10) NOT NULL,
	[Word] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_RelationWLs] PRIMARY KEY CLUSTERED 
(
	[Lesson] ASC,
	[Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 22/07/2024 21:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordId] [nvarchar](255) NOT NULL,
	[WordEn] [nvarchar](255) NOT NULL,
	[WordType] [nvarchar](255) NULL,
	[WordPro] [nvarchar](255) NULL,
	[WordVi] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RelationWLs]  WITH CHECK ADD  CONSTRAINT [FK_RelationWLs_Lessons] FOREIGN KEY([Lesson])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[RelationWLs] CHECK CONSTRAINT [FK_RelationWLs_Lessons]
GO
USE [master]
GO
